.choose__user{
    width: 100%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  z-index: 2;
  display: flex;
}

.choose__user__inner{   
    align-self: center;
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.choose__user__inner > h1{
    width: 100%;
    text-align: center;
}

.pick__user__info{
    background-color: rgba(228, 228, 228, 0.904);
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hide__pick{
    position: absolute;
    right: 10%;
    top: 5%;
    border: none;
    background-color: transparent;
}

.hide__pick > svg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.autocomplete{
    position: absolute;
    width: 100%;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0px 35px 26px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.autocomplete__item{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.autocomplete__item:hover{
    background-color: rgb(75, 151, 223);
}

.search__icon{
    cursor: pointer;
}

.add__usr__btn{
    border: 2px solid rgb(49, 49, 49);
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border-radius: 10px;
    align-self: center;
    position: relative;
    right: 10%;
    cursor: pointer;
    transition: all 1s;
}

.add__usr__btn:hover{
    transition: all 1s;
    background-color: rgb(49, 49, 49);
    color: white;
}

.error__notification{
    display: none;
    position: absolute;
    padding: 15px 30px;
    background-color: rgb(255, 174, 174);
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    border-radius: 10px;
    z-index: 1;
    color: rgb(138, 0, 0);
    font-size: 12px;
}

.error__required{
    display: block;
}

.search__icon > svg{
    color: rgba(88, 88, 88, 0.836);
    position: relative;
    top: 5px;
    right: 5px;
}